/* Add this to your styles.css file */
body {
    font-family: 'Noto Sans', sans-serif; /* Apply the custom font to the entire body */
  }
  
  h1, h2, p, footer {
    font-family: 'Noto Sans', sans-serif; /* Apply the custom font to specific elements */
  }
  h1{
    font-size: 100px;
    font-weight: bold;
  }
  h2 {
    font-size: 50px;
  }

#imageContainer img {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  #imageContainer img.d-block {
    opacity: 1;
  }
  footer {
    background-color: #0081afff;
    padding: 1rem; /* Add padding for better visual appearance */
  }
  
  footer div {
    color: black; /* Set the text color to black */
    font-size: large;
    font-weight: bold;

  }
  